<footer class="text-center text-lg-start text-muted">   

    <div class="d-flex justify-content-center gap pt-5 pb-3 gap main-bg">
        <a href="#" class="link">About</a>
        <span>|</span>
        <a href="#" class="link">Contact Us</a>
    </div>

    <div class="text-center text-md-start mt-0 px-0 mx-0 footer-bg">
        <div class="d-flex text-center p-4 justify-content-center footer-content-container" style="background-color: rgba(0, 0, 0, 0.05)">
            <img src="../../assets/icons/logo-used-in-footer.svg" alt="Quantum Logo in footer" />
            <span>|</span>
            <span>Copyright © 2020-2021</span>
            <strong>Zeus Systems Pvt. Ltd.</strong> All rights
            reserved.
        </div>
    </div>
</footer>