<form class="form-bg py-4 m-auto">
    <div class="d-flex flex-row mb-4">
        <img src="../../../assets/icons/sort.svg" style="transform: rotateZ(-90deg);" alt="">
        <h2 class="heading">Log in with Quantum </h2>
    </div>
    <div class="d-inline">

        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="districtradio" value="option1" checked
                required />
            <label class="form-check-label" style="font-weight: 600;" for="districtradio">
                District
            </label>
        </div>

        <div class="form-check d-inline-block mr-3">
            <input class="form-check-input" type="radio" name="exampleRadios" id="radio2" value="option2"
                required />
            <label class="form-check-label font-weight-bold" style="font-weight: 600;" for="independentdistrictradio">
                Independent school
            </label>
        </div>

    </div>

    <div>
        <label for="state-dd">State*</label>
        <select class="form-control fc-select custom-select">
            <option>Alabama</option>
            <option>Kansas</option>
            <option>Texas</option>
            <option>New York</option>
            <option>Maine</option>
            <option>New Jersey</option>
            <option>South California</option>
            <option>North California</option>
        </select>
    </div>


    <label for="state-dd">District*</label>
    <div class="">
        <select class="form-control fc-select custom-select">
            <option>Alabama School District</option>
            <option>Kansas</option>
            <option>Texas</option>
            <option>New York</option>
            <option>Maine</option>
            <option>New Jersey</option>
            <option>South California</option>
            <option>North California</option>
        </select>
    </div>


    <div class="form-group">
        <input type="text" class="form-control" id="username" placeholder="Username/Email ID*" required>
        <button class="form-help-text">Forgot Username?</button>
    </div>

    <div class="form-group">
        <input type="password" class="form-control password-peek" id="password" placeholder="Password*" required>
        <button class="form-help-text">Forgot Password?</button>
    </div>

    <div class="form-group row mb-4">
        <div class="form-check ml-3">
            <input class="form-check-input checkbox" type="checkbox" id="rememberMeCheck">
            <label class="form-check-label" for="gridCheck1">Remember Me</label>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-success" style="color: black; font-weight: 600; font-size: 14px;">Log in</button>
    </div>

</form>